h1{
    color: red;
    font-size: 40px;
    background-color: wheat;
  }
  
  body{
    background-color: gray;
  }
  
  /* mediaquery*/
  @media (width < 900px) OR (width > 500px){
    h1{
      color: green;
    }
  }
/*   
  @media (width < 500px){
    h1{
      color: blue;
      text-transform: uppercase;
    }
  }
   */
  