.info{
    background-color: gray;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center; /* horizontal*/
    align-items: center; /*vertical */
}
.info article p{
    width: 100%;
    
    margin: 0;
}

.info article{
    min-width: 300px;
    max-width: 400px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.info .info-logo{
    height: 400px;
    border: 1px solid black;
    border-radius: 35px;
}

.boton{
    padding: 8px 10px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    display: flex;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.boton img{
    height: 18px;
}

.boton:hover{
    padding: 14px 15px;
    box-shadow: 5px 5px 5px black;
}

.boton-verde{
    background-color: green;
}

.boton-azul{
    background-color: blue;
}

.boton-rojo{
    background-color: red;
}